body, header {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.header {
    background-color: #f0f0f0;
    padding: 25px;
    margin-top: 0;
}

.header-links {
    display: flex;
    justify-content: flex-end;
}

.header-links a {
    margin-left: 20px;
    font-size: 30px;
    text-decoration: none;
    color: #000;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('wallpaper_1.jpg'); /* Replace 'background-image.jpg' with your image path */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

/* Darken the background image */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5; /* Adjust the opacity to darken/lighten the image */
    z-index: -1; /* Ensure the dark overlay is behind the text */
}

/* Text style */
.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffffb1; /* White color for text */
    text-align: center;
    z-index: 1; /* Ensure the text is above the dark overlay */
    font-size: large;
}



.footer {
    line-height: 0.6;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px;
}

.footer-content {
    text-align: center;
    font-size: 14px;
}

.footer img {
    width: 35px;
    height: auto; 
}